# custom .gitignore file for asMSX project

# GCC compilation derivate files
bin/
asmsx.exe
asmsx
*.o
*.tab.h
*.tab.c
lex.*.c
*.output
*.error
warn*.txt

# asMSX output files
~*.*
*.bin
*.cas
code/*.txt
*.wav
*.sym
*.rom

# add random junk that made it into repo here
.Rhistory

# Visual Studio 2015
Debug/
Release/
*.VC.db
*.VC.opendb
*.vcxproj.user
